:root{
    --cor-preto: #000000;
    --cor-branco: #fff;
    --cor-azul: #487DDC;
    --cor-azul-yale: #00317F;
    --cor-jordy-azul: #8BB6FA;
    --cor-alice-azul: #DBEAFE;
    --cor-cinza-frances: #BECBCD;
    
   --borda:3px solid var(--cor-azul-yale);
   --borda-arredondada: 2px;
 
   --tamanho-fonte-lg: 40px;
   --tamanho-fonte-md: 20px;
   --tamanho-fonte-sm: 13px;
   
}

   @font-face {
    font-family: GFS_Didot;
    src: url(../Fonts/GFS_Didot/GFSDidot-Regular.ttf);
}

    @font-face {
        font-family: EB_Garamond;
        src: url(../Fonts/EB_Garamond/EBGaramond-Italic-VariableFont_wght.ttf),
        url(../Fonts/EB_Garamond/EBGaramond-VariableFont_wght.ttf); 
}

/*SELETOR GLOBAL*/

*{
    font-family: "GFS_Didot", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box; /*O VALOR TOTAL DO TAMANHO DO ELEMENTO 
    CONTA TANTO COM ESPACOS INTERNOS E EXTERNO E BORDA*/
}

body{
    background-color: var(--cor-branco)
}
h1{
    position: absolute;/*alterar a pisicao do elemento*/
    z-index: -1;/*camadas do elementos*/
    opacity: 0;
}
.estilo-formulario input[type="text"],
.estilo-formulario input[type="password"] {
    background: transparent; /* deixa transparente */
    border: 1px solid #00317F;  /* mantém a borda visível */
    border-radius: 8px;      /* arredonda a borda */
    color: #000;             /* cor do texto */
}

  /*formulario*/
  .estilo-formulario{
    border: var(--borda);
    border-bottom: var(--borda);
   border-image: linear-gradient(
        82deg,
        rgb(0, 49, 127) 0%,
        rgb(0,88,229,1) 35%,
        rgba(0, 125, 255, 1) 100%
    ) 1;
    width: 100%;
    background-color:#fff

}

  input{
    width: 100%;
    height: 35px;
    border: var(--borda);
    border-bottom: var(--borda);
   border-image: linear-gradient(
        82deg,
        rgb(0, 49, 127) 0%,
        rgb(0,88,229,1) 35%,
        rgba(0, 125, 255, 1) 100%
    ) 1;
    background-color: (#fff);
  }

  .formulario-botao-azul{
    background-color: var(--cor-azul);
    border-radius: var(--borda-arredondada);
    border: none;
    height: 35px;

    color: var(--cor-branco);
  }
  #campo-uploud {
    display: none;  /*none esconde*/
}
.botao-upload {
    color: #8BB6FA;    
    background-color: #DBEAFE;   
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    text-align: center;
}

/*cabecalho */
  #cabecalho{
    width: 100%; /*100% da janela de vizualizacao */
    height: 80px;
    background-color: #8BB6FA;
    display: flex;
    justify-content: center;
   /* align-items: center;*/
   border-bottom: var(--borda);
   border-image: linear-gradient(
        82deg,
        rgb(0, 49, 127) 0%,
        rgb(0,88,229,1) 35%,
        rgba(0, 125, 255, 1) 100%
    ) 1;
  }
#cabecalho > nav{
   /* background-color: #8BB6FA;*/
    width: 85%;
    max-width: 1440px;
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo-mobile{
    display: none;
}

.cabecalho-acoes{
   /* background-color: black;*/
    display: flex;
    align-items: center;
    gap: 10PX;
}
.cabecalho-acoes > a{
    display: flex;
    align-items: center;
}
 
#icones-perfil{
    width: 31px;
    height: 31PX;
}

#foto-perfil{
    width: 40px;
    height: 40PX;
    object-fit: cover;
    object-position: center;
    border-radius:50px ;
}


/*responsivo*/
@media only screen and (max-width:485px ) {
    #logo-mobile{
        display: initial;
    }

    #logo-desktop{
        display: none;
    }
    
}