* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #dbeafe; /* azul claro */
    color: #000;
}

/* Cabeçalho */
header {
    background-color: #60a5fa;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    color: black;
}

header nav {
    display: flex;
    align-items: center;
    gap: 15px;
}

.perfil-mini {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

/* Perfil */
.perfil {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.foto-perfil {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
